@font-face {
    font-family: manrope;
    src: url('../font/Manrope-VariableFont_wght.otf');
}


.heigth{
    height: 100vh;
}
.font{
    font-family: manrope;
}
.color{
    color:  #092C4C;
}
.title{
    font-size: 40px;
    font-weight: bolder;
}
.sub-title{
    font-size: 30px;
    font-weight: 600;
}
label{
    font-size: 20px;
    font-weight: 600;
}
.input-style{
    padding: 25px 20px;
    border: 1px solid #092C4C;
    font-size: 20px;
    color: #092C4C;
    font-weight: 600;
}
.submit-btn{
    background-color: #092C4C;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
.submit-btn:hover{
    color: white;
    background-color: #03213d;
    font-size: 20px;
    border-radius: 5px;
}
.error{
    color: red;
    font-size: 25px;
    font-weight: 600;
}
.logout{
    color: green;
    font-size: 25px;
    font-weight: 600;
}
.user-icon{
    font-size: 20px;
}
.lock-icon{
    font-size: 20px;
}
