@font-face {
    font-family: manrope;
    src: url('../font/Manrope-VariableFont_wght.otf');
}
.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}
.heigth{
    height: 100vh;
}
.font{
    font-family: manrope;
}
.color{
    color:  #092C4C;
}
.nav-style{
    background-color: #092C4C;
    height: 100vh;
    color: white;
}
.white{
    color: #DCECFB;
}
.nav-active {
    background-color: #DCECFB;
    color:  #092C4C !important;
    border-radius: 10px;
    padding: 7px 50px;

}
.nav-opcion{
    text-decoration: none;
    color: #DCECFB !important;
}
.nav-opcion:hover{
    background-color: #DCECFB ;
    border-radius: 10px ;
    color: #092C4C !important;
    padding: 7px 50px ;
}
.pointer{
    cursor: pointer;
}
.a-tag{
    text-decoration: none;
    color: white ;
}
.a-tag:hover{
    text-decoration: none;
    color: white;
}
.nombre{
    font-size: 20px;
    color: #DCECFB;
}
.correo{
    font-size: 15px;
    color: #DCECFB;
}
.logout-icon{
    font-size: 20;
    color: #DCECFB;
}
.mt{
    margin-top: 370px !important;
}

.letra-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    font-weight: bolder;
  }